version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user-service
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - PORT=3001
      - MONGODB_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/user_service?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=2ff1011a2f5e65f72b80d9a0667a942b388bab6dc4637f681118a571b07b00474
      - JWT_EXPIRE=7d
    networks:
      - app-network

  product-service:
    build:
      context: ./services/product-service
      dockerfile: Dockerfile
    container_name: product-service
    restart: unless-stopped
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
      - PORT=3003
      - MONGODB_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/product_service?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=2ff1011a2f5e65f72b80d9a0667a942b388bab6dc4637f681118a571b07b00474
    networks:
      - app-network

  frontend:
    image: node:18
    container_name: frontend
    working_dir: /app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    volumes:
      - ./frontend/Users:/app
    environment:
      - VITE_USER_API=http://user-service:3001/api/auth
      - VITE_PRODUCT_API=http://product-service:3003/api
    ports:
      - "5173:5173"
    depends_on:
      - user-service
      - product-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
