version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user-service
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - PORT=3001
      - MONGODB_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/user_service?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=2ff1011a2f5e65f72b80d9a0667a942b388bab6dc4637f681118a571b07b00474
      - JWT_EXPIRE=7d
    networks:
      - app-network

  product-service:
    build:
      context: ./services/product-service
      dockerfile: Dockerfile
    container_name: product-service
    restart: unless-stopped
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=development
      - PORT=3003
      - MONGODB_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/product_service?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=2ff1011a2f5e65f72b80d9a0667a942b388bab6dc4637f681118a571b07b00474
      - PRODUCT_BASE_URL=http://localhost:3003
    volumes:
      - product-uploads:/app/uploads
    networks:
      - app-network

  order-service:
    build:
      context: ./services/order-service
      dockerfile: Dockerfile
    container_name: order-service
    restart: unless-stopped
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
      - PORT=3002
      - MONGODB_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/order_service?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=2ff1011a2f5e65f72b80d9a0667a942b388bab6dc4637f681118a571b07b00474
      - PRODUCT_SERVICE_URL=http://product-service:3003
      - PAYMENT_SERVICE_URL=http://payment-service:3004
      - DRONE_SERVICE_URL=http://drone-service:3006/api/drone
      - PAYMENT_WEBHOOK_SECRET=payment-webhook-secret
    depends_on:
      - user-service
      - product-service
    networks:
      - app-network

  payment-service:
    build:
      context: ./services/payment-service
      dockerfile: Dockerfile
    container_name: payment-service
    restart: unless-stopped
    ports:
      - "3004:3004"
    environment:
      - NODE_ENV=development
      - PORT=3004
      - MONGODB_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/payment_service?retryWrites=true&w=majority&appName=Cluster0
      - ORDER_SERVICE_URL=http://order-service:3002
      - PAYMENT_WEBHOOK_SECRET=payment-webhook-secret
      - VNPAY_TMN_CODE=YBI06X9N
      - VNPAY_HASH_SECRET=VSKKEZZP1UU9D5OB5D7ABG1XAVO1D2N7
      - VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
      - VNPAY_RETURN_URL=http://localhost:3004/api/payments/vnpay/return
      - VNPAY_IPN_URL=http://localhost:3004/api/payments/vnpay/ipn
    networks:
      - app-network

  drone-service:
    build:
      context: ./services/drone-service
      dockerfile: Dockerfile
    container_name: drone-service
    restart: unless-stopped
    ports:
      - "3006:3006"
    environment:
      - NODE_ENV=development
      - PORT=3006
      - MONGO_URI=mongodb+srv://foodfast_delivery:foodfast_delivery@cluster0.r3lhqwd.mongodb.net/drone_service?retryWrites=true&w=majority&appName=Cluster0
      - ORDER_SERVICE_URL=http://order-service:3002/api/orders
    networks:
      - app-network

  frontend:
    image: node:20
    container_name: frontend
    working_dir: /app/Users
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5000"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_USER_API=http://localhost:3001/api/auth
      - VITE_PRODUCT_API=http://localhost:3003/api
      - VITE_DRONE_API=http://localhost:3006/api
      - NODE_ENV=development
    ports:
      - "5000:5000"
    depends_on:
      - user-service
      - product-service
      - order-service
      - drone-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
  product-uploads:
